@charset "utf-8";
.content {
  width: 100%;
}
.content .banner-cont {
  width: 100%;
  height: 420px;
  padding-top: 30px;
  background-color: #EFEFEF;
}
.content .banner-cont .banner {
  width: 1190px;
  height: 360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.content .banner-cont .banner .banner-left {
  width: 880px;
  height: 360px;
}
.content .banner-cont .banner .banner-left img {
  width: 880px;
  height: 360px;
}
.content .banner-cont .banner .banner-left ol.carousel-indicators {
  position: absolute;
  bottom: 30px;
  left: 90%;
  z-index: 20;
}
.content .banner-cont .banner .banner-left ol.carousel-indicators .active {
  width: 12px;
  height: 12px;
  background-color: #99CC33;
}
.content .banner-cont .banner .banner-left ol.carousel-indicators li {
  background-color: #666666;
  width: 8px;
  height: 8px;
}
.content .banner-cont .banner .banner-left .carousel-inner .item .carousel-caption {
  height: 75px;
  width: 880px;
  margin-left: -175px;
  margin-bottom: -20px;
  background: url(../img/opacity.png);
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
}
.content .banner-cont .banner .banner-left .carousel-inner .item .carousel-caption p {
  font-size: 18px;
}
.content .banner-cont .banner .banner-left .carousel-inner .item .carousel-caption p:nth-child(2) {
  font-size: 14px;
}
.content .banner-cont .banner .banner-left .carousel-inner a.left {
  position: absolute;
  left: 20px;
  top: 136px;
  width: 44px;
  height: 88px;
  background: url(../img/btn2.png) no-repeat -455px -188px;
}
.content .banner-cont .banner .banner-left .carousel-inner a.right {
  position: absolute;
  right: 20px;
  top: 136px;
  width: 44px;
  height: 88px;
  background: url(../img/btn2.png) no-repeat -455px -286px;
}
.content .banner-cont .banner .classify-right {
  width: 280px;
  height: 360px;
  background-color: #fff;
}
.content .banner-cont .banner .classify-right a.iconbg-1,
.content .banner-cont .banner .classify-right a.iconbg-2,
.content .banner-cont .banner .classify-right a.iconbg-3,
.content .banner-cont .banner .classify-right a.iconbg-4 {
  display: inline-block;
  width: 43px;
  height: 35px;
  background: url(../img/icon2.png) no-repeat 4px -57px;
}
.content .banner-cont .banner .classify-right a.iconbg-2 {
  background-position: -55px -57px;
}
.content .banner-cont .banner .classify-right a.iconbg-3 {
  background-position: -108px -57px;
}
.content .banner-cont .banner .classify-right a.iconbg-4 {
  background-position: -159px -57px;
}
.content .banner-cont .banner .classify-right .media {
  height: 91px;
  display: block;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}
.content .banner-cont .banner .classify-right .media .media-body h2 {
  font-size: 24px;
}
.content .banner-cont .banner .classify-right .media .media-body h2:hover {
  color: #99CC33;
}
.content .banner-cont .banner .classify-right .media .media-body p {
  font-size: 14px;
  padding-top: 7px;
  color: #999;
}
.content .hot-pet {
  width: 1190px;
  height: 394px;
  margin: 15px auto;
}
.content .hot-pet .hot-pet-titl {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content .hot-pet .hot-pet-titl span.hot {
  font-size: 24px;
  color: #383838;
}
.content .hot-pet .hot-pet-titl a {
  font-size: 16px;
  vertical-align: middle;
  color: #000;
}
.content .hot-pet .hot-pet-titl a:hover {
  color: #77BB00;
}
.content .hot-pet .hot-pet-list {
  width: 100%;
  height: 368px;
}
.content .hot-pet .hot-pet-list ul.menu-list {
  margin-top: 10px;
  width: 100%;
  height: 368px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.content .hot-pet .hot-pet-list ul.menu-list li {
  text-align: center;
  width: 180px;
  height: 170px;
  transition: all 0.2s linear;
}
.content .hot-pet .hot-pet-list ul.menu-list li:hover {
  box-shadow: 2px -3px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: all 0.2s linear;
}
.content .hot-pet .hot-pet-list ul.menu-list li a img {
  width: 180px;
  height: 135px;
  display: block;
}
.content .hot-pet .hot-pet-list ul.menu-list li a.typeface {
  display: block;
  width: 180px;
  height: 35px;
  line-height: 35px;
  background-color: #EFEFEF;
  font-size: 14px;
  color: #000;
}
.content .hot-pet .hot-pet-list ul.menu-list li a.typeface:hover {
  color: #77BB00;
}
.content .dog-encyclopedias,
.content .cat-encyclopedias,
.content .piw-encyclopedias,
.content .botany-encyclopedias {
  width: 1190px;
  height: 427px;
  margin: 30px auto;
}
.content .dog-encyclopedias .dog-tit,
.content .cat-encyclopedias .dog-tit,
.content .piw-encyclopedias .dog-tit,
.content .botany-encyclopedias .dog-tit,
.content .dog-encyclopedias .cat-tit,
.content .cat-encyclopedias .cat-tit,
.content .piw-encyclopedias .cat-tit,
.content .botany-encyclopedias .cat-tit,
.content .dog-encyclopedias .piw-tit,
.content .cat-encyclopedias .piw-tit,
.content .piw-encyclopedias .piw-tit,
.content .botany-encyclopedias .piw-tit,
.content .dog-encyclopedias .botany-tit,
.content .cat-encyclopedias .botany-tit,
.content .piw-encyclopedias .botany-tit,
.content .botany-encyclopedias .botany-tit {
  position: relative;
  height: 57px;
  border-bottom: 3px solid #9C3;
}
.content .dog-encyclopedias .dog-tit span.bg-logo1,
.content .cat-encyclopedias .dog-tit span.bg-logo1,
.content .piw-encyclopedias .dog-tit span.bg-logo1,
.content .botany-encyclopedias .dog-tit span.bg-logo1,
.content .dog-encyclopedias .cat-tit span.bg-logo1,
.content .cat-encyclopedias .cat-tit span.bg-logo1,
.content .piw-encyclopedias .cat-tit span.bg-logo1,
.content .botany-encyclopedias .cat-tit span.bg-logo1,
.content .dog-encyclopedias .piw-tit span.bg-logo1,
.content .cat-encyclopedias .piw-tit span.bg-logo1,
.content .piw-encyclopedias .piw-tit span.bg-logo1,
.content .botany-encyclopedias .piw-tit span.bg-logo1,
.content .dog-encyclopedias .botany-tit span.bg-logo1,
.content .cat-encyclopedias .botany-tit span.bg-logo1,
.content .piw-encyclopedias .botany-tit span.bg-logo1,
.content .botany-encyclopedias .botany-tit span.bg-logo1 {
  display: inline-block;
  width: 33px;
  height: 54px;
  background: url(../img/common2.png) no-repeat 0 0;
}
.content .dog-encyclopedias .dog-tit span.bg-logo2,
.content .cat-encyclopedias .dog-tit span.bg-logo2,
.content .piw-encyclopedias .dog-tit span.bg-logo2,
.content .botany-encyclopedias .dog-tit span.bg-logo2,
.content .dog-encyclopedias .cat-tit span.bg-logo2,
.content .cat-encyclopedias .cat-tit span.bg-logo2,
.content .piw-encyclopedias .cat-tit span.bg-logo2,
.content .botany-encyclopedias .cat-tit span.bg-logo2,
.content .dog-encyclopedias .piw-tit span.bg-logo2,
.content .cat-encyclopedias .piw-tit span.bg-logo2,
.content .piw-encyclopedias .piw-tit span.bg-logo2,
.content .botany-encyclopedias .piw-tit span.bg-logo2,
.content .dog-encyclopedias .botany-tit span.bg-logo2,
.content .cat-encyclopedias .botany-tit span.bg-logo2,
.content .piw-encyclopedias .botany-tit span.bg-logo2,
.content .botany-encyclopedias .botany-tit span.bg-logo2 {
  display: inline-block;
  width: 33px;
  height: 54px;
  margin-top: 4px;
  background: url(../img/common2.png) no-repeat -53px 0;
}
.content .dog-encyclopedias .dog-tit span.bg-logo3,
.content .cat-encyclopedias .dog-tit span.bg-logo3,
.content .piw-encyclopedias .dog-tit span.bg-logo3,
.content .botany-encyclopedias .dog-tit span.bg-logo3,
.content .dog-encyclopedias .cat-tit span.bg-logo3,
.content .cat-encyclopedias .cat-tit span.bg-logo3,
.content .piw-encyclopedias .cat-tit span.bg-logo3,
.content .botany-encyclopedias .cat-tit span.bg-logo3,
.content .dog-encyclopedias .piw-tit span.bg-logo3,
.content .cat-encyclopedias .piw-tit span.bg-logo3,
.content .piw-encyclopedias .piw-tit span.bg-logo3,
.content .botany-encyclopedias .piw-tit span.bg-logo3,
.content .dog-encyclopedias .botany-tit span.bg-logo3,
.content .cat-encyclopedias .botany-tit span.bg-logo3,
.content .piw-encyclopedias .botany-tit span.bg-logo3,
.content .botany-encyclopedias .botany-tit span.bg-logo3 {
  display: inline-block;
  width: 33px;
  height: 54px;
  margin-top: 10px;
  margin-left: 2px;
  background: url(../img/common2.png) no-repeat -134px 0;
}
.content .dog-encyclopedias .dog-tit span.bg-logo4,
.content .cat-encyclopedias .dog-tit span.bg-logo4,
.content .piw-encyclopedias .dog-tit span.bg-logo4,
.content .botany-encyclopedias .dog-tit span.bg-logo4,
.content .dog-encyclopedias .cat-tit span.bg-logo4,
.content .cat-encyclopedias .cat-tit span.bg-logo4,
.content .piw-encyclopedias .cat-tit span.bg-logo4,
.content .botany-encyclopedias .cat-tit span.bg-logo4,
.content .dog-encyclopedias .piw-tit span.bg-logo4,
.content .cat-encyclopedias .piw-tit span.bg-logo4,
.content .piw-encyclopedias .piw-tit span.bg-logo4,
.content .botany-encyclopedias .piw-tit span.bg-logo4,
.content .dog-encyclopedias .botany-tit span.bg-logo4,
.content .cat-encyclopedias .botany-tit span.bg-logo4,
.content .piw-encyclopedias .botany-tit span.bg-logo4,
.content .botany-encyclopedias .botany-tit span.bg-logo4 {
  display: inline-block;
  width: 33px;
  height: 54px;
  margin-top: 14px;
  margin-left: 2px;
  background: url(../img/common2.png) no-repeat -370px 0;
}
.content .dog-encyclopedias .dog-tit h2,
.content .cat-encyclopedias .dog-tit h2,
.content .piw-encyclopedias .dog-tit h2,
.content .botany-encyclopedias .dog-tit h2,
.content .dog-encyclopedias .cat-tit h2,
.content .cat-encyclopedias .cat-tit h2,
.content .piw-encyclopedias .cat-tit h2,
.content .botany-encyclopedias .cat-tit h2,
.content .dog-encyclopedias .piw-tit h2,
.content .cat-encyclopedias .piw-tit h2,
.content .piw-encyclopedias .piw-tit h2,
.content .botany-encyclopedias .piw-tit h2,
.content .dog-encyclopedias .botany-tit h2,
.content .cat-encyclopedias .botany-tit h2,
.content .piw-encyclopedias .botany-tit h2,
.content .botany-encyclopedias .botany-tit h2 {
  position: absolute;
  left: 33px;
  bottom: 0;
  font-size: 24px;
  color: #fff;
  width: 156px;
  height: 44px;
  background-color: #9c3;
  text-align: center;
  line-height: 44px;
}
.content .dog-encyclopedias .dog-tit .tit-right,
.content .cat-encyclopedias .dog-tit .tit-right,
.content .piw-encyclopedias .dog-tit .tit-right,
.content .botany-encyclopedias .dog-tit .tit-right,
.content .dog-encyclopedias .cat-tit .tit-right,
.content .cat-encyclopedias .cat-tit .tit-right,
.content .piw-encyclopedias .cat-tit .tit-right,
.content .botany-encyclopedias .cat-tit .tit-right,
.content .dog-encyclopedias .piw-tit .tit-right,
.content .cat-encyclopedias .piw-tit .tit-right,
.content .piw-encyclopedias .piw-tit .tit-right,
.content .botany-encyclopedias .piw-tit .tit-right,
.content .dog-encyclopedias .botany-tit .tit-right,
.content .cat-encyclopedias .botany-tit .tit-right,
.content .piw-encyclopedias .botany-tit .tit-right,
.content .botany-encyclopedias .botany-tit .tit-right {
  font-size: 16px;
  color: #999;
  position: absolute;
  right: 0;
  bottom: 8px;
}
.content .dog-encyclopedias .dog-tit .tit-right a:hover,
.content .cat-encyclopedias .dog-tit .tit-right a:hover,
.content .piw-encyclopedias .dog-tit .tit-right a:hover,
.content .botany-encyclopedias .dog-tit .tit-right a:hover,
.content .dog-encyclopedias .cat-tit .tit-right a:hover,
.content .cat-encyclopedias .cat-tit .tit-right a:hover,
.content .piw-encyclopedias .cat-tit .tit-right a:hover,
.content .botany-encyclopedias .cat-tit .tit-right a:hover,
.content .dog-encyclopedias .piw-tit .tit-right a:hover,
.content .cat-encyclopedias .piw-tit .tit-right a:hover,
.content .piw-encyclopedias .piw-tit .tit-right a:hover,
.content .botany-encyclopedias .piw-tit .tit-right a:hover,
.content .dog-encyclopedias .botany-tit .tit-right a:hover,
.content .cat-encyclopedias .botany-tit .tit-right a:hover,
.content .piw-encyclopedias .botany-tit .tit-right a:hover,
.content .botany-encyclopedias .botany-tit .tit-right a:hover {
  color: #7b0;
}
.content .dog-encyclopedias .dog-cont,
.content .cat-encyclopedias .dog-cont,
.content .piw-encyclopedias .dog-cont,
.content .botany-encyclopedias .dog-cont,
.content .dog-encyclopedias .cat-cont,
.content .cat-encyclopedias .cat-cont,
.content .piw-encyclopedias .cat-cont,
.content .botany-encyclopedias .cat-cont,
.content .dog-encyclopedias .piw-cont,
.content .cat-encyclopedias .piw-cont,
.content .piw-encyclopedias .piw-cont,
.content .botany-encyclopedias .piw-cont,
.content .dog-encyclopedias .botany-cont,
.content .cat-encyclopedias .botany-cont,
.content .piw-encyclopedias .botany-cont,
.content .botany-encyclopedias .botany-cont {
  width: 1190px;
  height: 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .dog-encyclopedias .dog-cont .cont-left,
.content .cat-encyclopedias .dog-cont .cont-left,
.content .piw-encyclopedias .dog-cont .cont-left,
.content .botany-encyclopedias .dog-cont .cont-left,
.content .dog-encyclopedias .cat-cont .cont-left,
.content .cat-encyclopedias .cat-cont .cont-left,
.content .piw-encyclopedias .cat-cont .cont-left,
.content .botany-encyclopedias .cat-cont .cont-left,
.content .dog-encyclopedias .piw-cont .cont-left,
.content .cat-encyclopedias .piw-cont .cont-left,
.content .piw-encyclopedias .piw-cont .cont-left,
.content .botany-encyclopedias .piw-cont .cont-left,
.content .dog-encyclopedias .botany-cont .cont-left,
.content .cat-encyclopedias .botany-cont .cont-left,
.content .piw-encyclopedias .botany-cont .cont-left,
.content .botany-encyclopedias .botany-cont .cont-left {
  width: 280px;
  height: 333px;
}
.content .dog-encyclopedias .dog-cont .cont-left .carousel-inner,
.content .cat-encyclopedias .dog-cont .cont-left .carousel-inner,
.content .piw-encyclopedias .dog-cont .cont-left .carousel-inner,
.content .botany-encyclopedias .dog-cont .cont-left .carousel-inner,
.content .dog-encyclopedias .cat-cont .cont-left .carousel-inner,
.content .cat-encyclopedias .cat-cont .cont-left .carousel-inner,
.content .piw-encyclopedias .cat-cont .cont-left .carousel-inner,
.content .botany-encyclopedias .cat-cont .cont-left .carousel-inner,
.content .dog-encyclopedias .piw-cont .cont-left .carousel-inner,
.content .cat-encyclopedias .piw-cont .cont-left .carousel-inner,
.content .piw-encyclopedias .piw-cont .cont-left .carousel-inner,
.content .botany-encyclopedias .piw-cont .cont-left .carousel-inner,
.content .dog-encyclopedias .botany-cont .cont-left .carousel-inner,
.content .cat-encyclopedias .botany-cont .cont-left .carousel-inner,
.content .piw-encyclopedias .botany-cont .cont-left .carousel-inner,
.content .botany-encyclopedias .botany-cont .cont-left .carousel-inner {
  width: 280px;
  height: 333px;
  overflow: hidden;
}
.content .dog-encyclopedias .dog-cont .cont-left .carousel-inner a.left,
.content .cat-encyclopedias .dog-cont .cont-left .carousel-inner a.left,
.content .piw-encyclopedias .dog-cont .cont-left .carousel-inner a.left,
.content .botany-encyclopedias .dog-cont .cont-left .carousel-inner a.left,
.content .dog-encyclopedias .cat-cont .cont-left .carousel-inner a.left,
.content .cat-encyclopedias .cat-cont .cont-left .carousel-inner a.left,
.content .piw-encyclopedias .cat-cont .cont-left .carousel-inner a.left,
.content .botany-encyclopedias .cat-cont .cont-left .carousel-inner a.left,
.content .dog-encyclopedias .piw-cont .cont-left .carousel-inner a.left,
.content .cat-encyclopedias .piw-cont .cont-left .carousel-inner a.left,
.content .piw-encyclopedias .piw-cont .cont-left .carousel-inner a.left,
.content .botany-encyclopedias .piw-cont .cont-left .carousel-inner a.left,
.content .dog-encyclopedias .botany-cont .cont-left .carousel-inner a.left,
.content .cat-encyclopedias .botany-cont .cont-left .carousel-inner a.left,
.content .piw-encyclopedias .botany-cont .cont-left .carousel-inner a.left,
.content .botany-encyclopedias .botany-cont .cont-left .carousel-inner a.left {
  background: url(../img/btn2.png) no-repeat 0 -432px;
  position: absolute;
  width: 30px;
  height: 62px;
  left: 10px;
  top: 75px;
  opacity: 0.6;
}
.content .dog-encyclopedias .dog-cont .cont-left .carousel-inner a.left:hover,
.content .cat-encyclopedias .dog-cont .cont-left .carousel-inner a.left:hover,
.content .piw-encyclopedias .dog-cont .cont-left .carousel-inner a.left:hover,
.content .botany-encyclopedias .dog-cont .cont-left .carousel-inner a.left:hover,
.content .dog-encyclopedias .cat-cont .cont-left .carousel-inner a.left:hover,
.content .cat-encyclopedias .cat-cont .cont-left .carousel-inner a.left:hover,
.content .piw-encyclopedias .cat-cont .cont-left .carousel-inner a.left:hover,
.content .botany-encyclopedias .cat-cont .cont-left .carousel-inner a.left:hover,
.content .dog-encyclopedias .piw-cont .cont-left .carousel-inner a.left:hover,
.content .cat-encyclopedias .piw-cont .cont-left .carousel-inner a.left:hover,
.content .piw-encyclopedias .piw-cont .cont-left .carousel-inner a.left:hover,
.content .botany-encyclopedias .piw-cont .cont-left .carousel-inner a.left:hover,
.content .dog-encyclopedias .botany-cont .cont-left .carousel-inner a.left:hover,
.content .cat-encyclopedias .botany-cont .cont-left .carousel-inner a.left:hover,
.content .piw-encyclopedias .botany-cont .cont-left .carousel-inner a.left:hover,
.content .botany-encyclopedias .botany-cont .cont-left .carousel-inner a.left:hover {
  opacity: 1;
}
.content .dog-encyclopedias .dog-cont .cont-left .carousel-inner a.right,
.content .cat-encyclopedias .dog-cont .cont-left .carousel-inner a.right,
.content .piw-encyclopedias .dog-cont .cont-left .carousel-inner a.right,
.content .botany-encyclopedias .dog-cont .cont-left .carousel-inner a.right,
.content .dog-encyclopedias .cat-cont .cont-left .carousel-inner a.right,
.content .cat-encyclopedias .cat-cont .cont-left .carousel-inner a.right,
.content .piw-encyclopedias .cat-cont .cont-left .carousel-inner a.right,
.content .botany-encyclopedias .cat-cont .cont-left .carousel-inner a.right,
.content .dog-encyclopedias .piw-cont .cont-left .carousel-inner a.right,
.content .cat-encyclopedias .piw-cont .cont-left .carousel-inner a.right,
.content .piw-encyclopedias .piw-cont .cont-left .carousel-inner a.right,
.content .botany-encyclopedias .piw-cont .cont-left .carousel-inner a.right,
.content .dog-encyclopedias .botany-cont .cont-left .carousel-inner a.right,
.content .cat-encyclopedias .botany-cont .cont-left .carousel-inner a.right,
.content .piw-encyclopedias .botany-cont .cont-left .carousel-inner a.right,
.content .botany-encyclopedias .botany-cont .cont-left .carousel-inner a.right {
  background: url(../img/btn2.png) no-repeat -45px -432px;
  position: absolute;
  width: 30px;
  height: 62px;
  right: 10px;
  top: 75px;
  opacity: 0.6;
}
.content .dog-encyclopedias .dog-cont .cont-left .carousel-inner a.right:hover,
.content .cat-encyclopedias .dog-cont .cont-left .carousel-inner a.right:hover,
.content .piw-encyclopedias .dog-cont .cont-left .carousel-inner a.right:hover,
.content .botany-encyclopedias .dog-cont .cont-left .carousel-inner a.right:hover,
.content .dog-encyclopedias .cat-cont .cont-left .carousel-inner a.right:hover,
.content .cat-encyclopedias .cat-cont .cont-left .carousel-inner a.right:hover,
.content .piw-encyclopedias .cat-cont .cont-left .carousel-inner a.right:hover,
.content .botany-encyclopedias .cat-cont .cont-left .carousel-inner a.right:hover,
.content .dog-encyclopedias .piw-cont .cont-left .carousel-inner a.right:hover,
.content .cat-encyclopedias .piw-cont .cont-left .carousel-inner a.right:hover,
.content .piw-encyclopedias .piw-cont .cont-left .carousel-inner a.right:hover,
.content .botany-encyclopedias .piw-cont .cont-left .carousel-inner a.right:hover,
.content .dog-encyclopedias .botany-cont .cont-left .carousel-inner a.right:hover,
.content .cat-encyclopedias .botany-cont .cont-left .carousel-inner a.right:hover,
.content .piw-encyclopedias .botany-cont .cont-left .carousel-inner a.right:hover,
.content .botany-encyclopedias .botany-cont .cont-left .carousel-inner a.right:hover {
  opacity: 1;
}
.content .dog-encyclopedias .dog-cont .cont-left .carousel-inner .item img,
.content .cat-encyclopedias .dog-cont .cont-left .carousel-inner .item img,
.content .piw-encyclopedias .dog-cont .cont-left .carousel-inner .item img,
.content .botany-encyclopedias .dog-cont .cont-left .carousel-inner .item img,
.content .dog-encyclopedias .cat-cont .cont-left .carousel-inner .item img,
.content .cat-encyclopedias .cat-cont .cont-left .carousel-inner .item img,
.content .piw-encyclopedias .cat-cont .cont-left .carousel-inner .item img,
.content .botany-encyclopedias .cat-cont .cont-left .carousel-inner .item img,
.content .dog-encyclopedias .piw-cont .cont-left .carousel-inner .item img,
.content .cat-encyclopedias .piw-cont .cont-left .carousel-inner .item img,
.content .piw-encyclopedias .piw-cont .cont-left .carousel-inner .item img,
.content .botany-encyclopedias .piw-cont .cont-left .carousel-inner .item img,
.content .dog-encyclopedias .botany-cont .cont-left .carousel-inner .item img,
.content .cat-encyclopedias .botany-cont .cont-left .carousel-inner .item img,
.content .piw-encyclopedias .botany-cont .cont-left .carousel-inner .item img,
.content .botany-encyclopedias .botany-cont .cont-left .carousel-inner .item img {
  width: 280px;
  height: 210px;
  cursor: pointer;
}
.content .dog-encyclopedias .dog-cont .cont-left .carousel-inner .carousel-caption span,
.content .cat-encyclopedias .dog-cont .cont-left .carousel-inner .carousel-caption span,
.content .piw-encyclopedias .dog-cont .cont-left .carousel-inner .carousel-caption span,
.content .botany-encyclopedias .dog-cont .cont-left .carousel-inner .carousel-caption span,
.content .dog-encyclopedias .cat-cont .cont-left .carousel-inner .carousel-caption span,
.content .cat-encyclopedias .cat-cont .cont-left .carousel-inner .carousel-caption span,
.content .piw-encyclopedias .cat-cont .cont-left .carousel-inner .carousel-caption span,
.content .botany-encyclopedias .cat-cont .cont-left .carousel-inner .carousel-caption span,
.content .dog-encyclopedias .piw-cont .cont-left .carousel-inner .carousel-caption span,
.content .cat-encyclopedias .piw-cont .cont-left .carousel-inner .carousel-caption span,
.content .piw-encyclopedias .piw-cont .cont-left .carousel-inner .carousel-caption span,
.content .botany-encyclopedias .piw-cont .cont-left .carousel-inner .carousel-caption span,
.content .dog-encyclopedias .botany-cont .cont-left .carousel-inner .carousel-caption span,
.content .cat-encyclopedias .botany-cont .cont-left .carousel-inner .carousel-caption span,
.content .piw-encyclopedias .botany-cont .cont-left .carousel-inner .carousel-caption span,
.content .botany-encyclopedias .botany-cont .cont-left .carousel-inner .carousel-caption span {
  display: block;
  position: absolute;
  background: url(../img/opacity.png);
  width: 280px;
  height: 40px;
  font-size: 18px;
  text-align: left;
  padding-left: 10px;
  line-height: 40px;
  left: -55px;
  bottom: -20px;
  cursor: pointer;
}
.content .dog-encyclopedias .dog-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .cat-encyclopedias .dog-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .piw-encyclopedias .dog-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .botany-encyclopedias .dog-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .dog-encyclopedias .cat-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .cat-encyclopedias .cat-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .piw-encyclopedias .cat-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .botany-encyclopedias .cat-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .dog-encyclopedias .piw-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .cat-encyclopedias .piw-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .piw-encyclopedias .piw-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .botany-encyclopedias .piw-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .dog-encyclopedias .botany-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .cat-encyclopedias .botany-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .piw-encyclopedias .botany-cont .cont-left .carousel-inner .carousel-caption .caption-text p,
.content .botany-encyclopedias .botany-cont .cont-left .carousel-inner .carousel-caption .caption-text p {
  background-color: #F3F3F3;
  position: absolute;
  left: -55px;
  bottom: -144px;
  width: 280px;
  height: 124px;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-family: "Microsoft YaHei";
}
.content .dog-encyclopedias .dog-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .cat-encyclopedias .dog-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .piw-encyclopedias .dog-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .botany-encyclopedias .dog-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .dog-encyclopedias .cat-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .cat-encyclopedias .cat-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .piw-encyclopedias .cat-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .botany-encyclopedias .cat-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .dog-encyclopedias .piw-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .cat-encyclopedias .piw-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .piw-encyclopedias .piw-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .botany-encyclopedias .piw-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .dog-encyclopedias .botany-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .cat-encyclopedias .botany-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .piw-encyclopedias .botany-cont .cont-left .carousel-inner .carousel-caption .caption-text p a,
.content .botany-encyclopedias .botany-cont .cont-left .carousel-inner .carousel-caption .caption-text p a {
  color: #77BB00;
}
.content .dog-encyclopedias .dog-cont .cont-middle,
.content .cat-encyclopedias .dog-cont .cont-middle,
.content .piw-encyclopedias .dog-cont .cont-middle,
.content .botany-encyclopedias .dog-cont .cont-middle,
.content .dog-encyclopedias .cat-cont .cont-middle,
.content .cat-encyclopedias .cat-cont .cont-middle,
.content .piw-encyclopedias .cat-cont .cont-middle,
.content .botany-encyclopedias .cat-cont .cont-middle,
.content .dog-encyclopedias .piw-cont .cont-middle,
.content .cat-encyclopedias .piw-cont .cont-middle,
.content .piw-encyclopedias .piw-cont .cont-middle,
.content .botany-encyclopedias .piw-cont .cont-middle,
.content .dog-encyclopedias .botany-cont .cont-middle,
.content .cat-encyclopedias .botany-cont .cont-middle,
.content .piw-encyclopedias .botany-cont .cont-middle,
.content .botany-encyclopedias .botany-cont .cont-middle {
  padding: 10px 15px;
  width: 600px;
  height: 352px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.content .dog-encyclopedias .dog-cont .cont-middle .media,
.content .cat-encyclopedias .dog-cont .cont-middle .media,
.content .piw-encyclopedias .dog-cont .cont-middle .media,
.content .botany-encyclopedias .dog-cont .cont-middle .media,
.content .dog-encyclopedias .cat-cont .cont-middle .media,
.content .cat-encyclopedias .cat-cont .cont-middle .media,
.content .piw-encyclopedias .cat-cont .cont-middle .media,
.content .botany-encyclopedias .cat-cont .cont-middle .media,
.content .dog-encyclopedias .piw-cont .cont-middle .media,
.content .cat-encyclopedias .piw-cont .cont-middle .media,
.content .piw-encyclopedias .piw-cont .cont-middle .media,
.content .botany-encyclopedias .piw-cont .cont-middle .media,
.content .dog-encyclopedias .botany-cont .cont-middle .media,
.content .cat-encyclopedias .botany-cont .cont-middle .media,
.content .piw-encyclopedias .botany-cont .cont-middle .media,
.content .botany-encyclopedias .botany-cont .cont-middle .media {
  width: 280px;
  height: 68px;
  margin: 0;
}
.content .dog-encyclopedias .dog-cont .cont-middle .media img,
.content .cat-encyclopedias .dog-cont .cont-middle .media img,
.content .piw-encyclopedias .dog-cont .cont-middle .media img,
.content .botany-encyclopedias .dog-cont .cont-middle .media img,
.content .dog-encyclopedias .cat-cont .cont-middle .media img,
.content .cat-encyclopedias .cat-cont .cont-middle .media img,
.content .piw-encyclopedias .cat-cont .cont-middle .media img,
.content .botany-encyclopedias .cat-cont .cont-middle .media img,
.content .dog-encyclopedias .piw-cont .cont-middle .media img,
.content .cat-encyclopedias .piw-cont .cont-middle .media img,
.content .piw-encyclopedias .piw-cont .cont-middle .media img,
.content .botany-encyclopedias .piw-cont .cont-middle .media img,
.content .dog-encyclopedias .botany-cont .cont-middle .media img,
.content .cat-encyclopedias .botany-cont .cont-middle .media img,
.content .piw-encyclopedias .botany-cont .cont-middle .media img,
.content .botany-encyclopedias .botany-cont .cont-middle .media img {
  width: 90px;
  height: 68px;
}
.content .dog-encyclopedias .dog-cont .cont-middle .media .media-body a:hover,
.content .cat-encyclopedias .dog-cont .cont-middle .media .media-body a:hover,
.content .piw-encyclopedias .dog-cont .cont-middle .media .media-body a:hover,
.content .botany-encyclopedias .dog-cont .cont-middle .media .media-body a:hover,
.content .dog-encyclopedias .cat-cont .cont-middle .media .media-body a:hover,
.content .cat-encyclopedias .cat-cont .cont-middle .media .media-body a:hover,
.content .piw-encyclopedias .cat-cont .cont-middle .media .media-body a:hover,
.content .botany-encyclopedias .cat-cont .cont-middle .media .media-body a:hover,
.content .dog-encyclopedias .piw-cont .cont-middle .media .media-body a:hover,
.content .cat-encyclopedias .piw-cont .cont-middle .media .media-body a:hover,
.content .piw-encyclopedias .piw-cont .cont-middle .media .media-body a:hover,
.content .botany-encyclopedias .piw-cont .cont-middle .media .media-body a:hover,
.content .dog-encyclopedias .botany-cont .cont-middle .media .media-body a:hover,
.content .cat-encyclopedias .botany-cont .cont-middle .media .media-body a:hover,
.content .piw-encyclopedias .botany-cont .cont-middle .media .media-body a:hover,
.content .botany-encyclopedias .botany-cont .cont-middle .media .media-body a:hover {
  color: #77BB00;
}
.content .dog-encyclopedias .dog-cont .cont-right,
.content .cat-encyclopedias .dog-cont .cont-right,
.content .piw-encyclopedias .dog-cont .cont-right,
.content .botany-encyclopedias .dog-cont .cont-right,
.content .dog-encyclopedias .cat-cont .cont-right,
.content .cat-encyclopedias .cat-cont .cont-right,
.content .piw-encyclopedias .cat-cont .cont-right,
.content .botany-encyclopedias .cat-cont .cont-right,
.content .dog-encyclopedias .piw-cont .cont-right,
.content .cat-encyclopedias .piw-cont .cont-right,
.content .piw-encyclopedias .piw-cont .cont-right,
.content .botany-encyclopedias .piw-cont .cont-right,
.content .dog-encyclopedias .botany-cont .cont-right,
.content .cat-encyclopedias .botany-cont .cont-right,
.content .piw-encyclopedias .botany-cont .cont-right,
.content .botany-encyclopedias .botany-cont .cont-right {
  width: 280px;
  height: 330px;
}
.content .dog-encyclopedias .dog-cont .cont-right p,
.content .cat-encyclopedias .dog-cont .cont-right p,
.content .piw-encyclopedias .dog-cont .cont-right p,
.content .botany-encyclopedias .dog-cont .cont-right p,
.content .dog-encyclopedias .cat-cont .cont-right p,
.content .cat-encyclopedias .cat-cont .cont-right p,
.content .piw-encyclopedias .cat-cont .cont-right p,
.content .botany-encyclopedias .cat-cont .cont-right p,
.content .dog-encyclopedias .piw-cont .cont-right p,
.content .cat-encyclopedias .piw-cont .cont-right p,
.content .piw-encyclopedias .piw-cont .cont-right p,
.content .botany-encyclopedias .piw-cont .cont-right p,
.content .dog-encyclopedias .botany-cont .cont-right p,
.content .cat-encyclopedias .botany-cont .cont-right p,
.content .piw-encyclopedias .botany-cont .cont-right p,
.content .botany-encyclopedias .botany-cont .cont-right p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 4px;
}
.content .dog-encyclopedias .dog-cont .cont-right p span,
.content .cat-encyclopedias .dog-cont .cont-right p span,
.content .piw-encyclopedias .dog-cont .cont-right p span,
.content .botany-encyclopedias .dog-cont .cont-right p span,
.content .dog-encyclopedias .cat-cont .cont-right p span,
.content .cat-encyclopedias .cat-cont .cont-right p span,
.content .piw-encyclopedias .cat-cont .cont-right p span,
.content .botany-encyclopedias .cat-cont .cont-right p span,
.content .dog-encyclopedias .piw-cont .cont-right p span,
.content .cat-encyclopedias .piw-cont .cont-right p span,
.content .piw-encyclopedias .piw-cont .cont-right p span,
.content .botany-encyclopedias .piw-cont .cont-right p span,
.content .dog-encyclopedias .botany-cont .cont-right p span,
.content .cat-encyclopedias .botany-cont .cont-right p span,
.content .piw-encyclopedias .botany-cont .cont-right p span,
.content .botany-encyclopedias .botany-cont .cont-right p span {
  float: left;
  vertical-align: middle;
  display: inline-block;
  width: 22px;
  height: 18px;
  background: url(../img/icon2.png) no-repeat -33px -26px;
  margin-right: 8px;
}
.content .dog-encyclopedias .dog-cont .cont-right p a:hover,
.content .cat-encyclopedias .dog-cont .cont-right p a:hover,
.content .piw-encyclopedias .dog-cont .cont-right p a:hover,
.content .botany-encyclopedias .dog-cont .cont-right p a:hover,
.content .dog-encyclopedias .cat-cont .cont-right p a:hover,
.content .cat-encyclopedias .cat-cont .cont-right p a:hover,
.content .piw-encyclopedias .cat-cont .cont-right p a:hover,
.content .botany-encyclopedias .cat-cont .cont-right p a:hover,
.content .dog-encyclopedias .piw-cont .cont-right p a:hover,
.content .cat-encyclopedias .piw-cont .cont-right p a:hover,
.content .piw-encyclopedias .piw-cont .cont-right p a:hover,
.content .botany-encyclopedias .piw-cont .cont-right p a:hover,
.content .dog-encyclopedias .botany-cont .cont-right p a:hover,
.content .cat-encyclopedias .botany-cont .cont-right p a:hover,
.content .piw-encyclopedias .botany-cont .cont-right p a:hover,
.content .botany-encyclopedias .botany-cont .cont-right p a:hover {
  color: #7b0;
}
.content .dog-encyclopedias .dog-cont .cont-right p + p,
.content .cat-encyclopedias .dog-cont .cont-right p + p,
.content .piw-encyclopedias .dog-cont .cont-right p + p,
.content .botany-encyclopedias .dog-cont .cont-right p + p,
.content .dog-encyclopedias .cat-cont .cont-right p + p,
.content .cat-encyclopedias .cat-cont .cont-right p + p,
.content .piw-encyclopedias .cat-cont .cont-right p + p,
.content .botany-encyclopedias .cat-cont .cont-right p + p,
.content .dog-encyclopedias .piw-cont .cont-right p + p,
.content .cat-encyclopedias .piw-cont .cont-right p + p,
.content .piw-encyclopedias .piw-cont .cont-right p + p,
.content .botany-encyclopedias .piw-cont .cont-right p + p,
.content .dog-encyclopedias .botany-cont .cont-right p + p,
.content .cat-encyclopedias .botany-cont .cont-right p + p,
.content .piw-encyclopedias .botany-cont .cont-right p + p,
.content .botany-encyclopedias .botany-cont .cont-right p + p {
  margin-top: 13px;
}
.content .advmsg {
  width: 1190px;
  text-align: center;
  color: #999;
  font-size: 14px;
  margin: 0 auto;
}
