@charset "utf-8";
.navigation {
  width: 100%;
  height: 44px;
  background-color: #99CC33;
  margin-top: 20px;
}
.navigation .navbar {
  width: 1190px;
  height: 44px;
  min-height: 44px;
  margin: 0 auto;
  background-color: #9c3;
  border: none;
  border-radius: 0;
}
.navigation .navbar ul {
  width: 1190px;
  height: 44;
  min-height: 44px;
  display: flex;
}
.navigation .navbar ul li {
  position: relative;
  width: 110px;
  height: 44px;
  text-align: center;
  margin-right: 2px;
}
.navigation .navbar ul li .bgvary {
  font-size: 18px;
  color: #fff;
  display: block;
  width: 110px;
  height: 44px;
  padding: 0;
  line-height: 44px;
}
.navigation .navbar ul li .bgvary:hover {
  color: #fff;
  background-color: #77BB00;
}
.navigation .navbar ul li .dog-box {
  width: 513px;
  height: 340px;
  border: 2px solid #7b0;
  position: absolute;
  top: 44px;
  left: 0;
  padding: 20px;
  display: none;
  z-index: 10;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.navigation .navbar ul li .dog-box::after {
  position: absolute;
  top: -5px;
  left: 47px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #7b0;
  transform: rotateZ(45deg);
  z-index: -1;
}
.navigation .navbar ul li .dog-box .dog-top-text {
  width: 470px;
  height: 130px;
  border-bottom: 1px dashed gray;
}
.navigation .navbar ul li .dog-box .dog-top-text .top-tit {
  text-align: left;
}
.navigation .navbar ul li .dog-box .dog-top-text .top-tit a {
  color: #7B0;
  font-size: 16px;
}
.navigation .navbar ul li .dog-box .dog-top-text .top-con {
  margin-top: 5px;
}
.navigation .navbar ul li .dog-box .dog-top-text .top-con p {
  text-align: left;
}
.navigation .navbar ul li .dog-box .dog-top-text .top-con p span {
  color: #666;
  font-size: 14px;
  display: inline-block;
}
.navigation .navbar ul li .dog-box .dog-top-text .top-con p a {
  color: #000;
  font-size: 14px;
}
.navigation .navbar ul li .dog-box .dog-top-text .top-con p a:hover {
  color: #7b0;
}
.navigation .navbar ul li .dog-box .dog-top-text .top-con p a + a {
  margin-left: 10px;
}
.navigation .navbar ul li .dog-box .dog-top-text .top-con p .heig {
  float: left;
  height: 40px;
  width: 46px;
}
.navigation .navbar ul li .dog-box .dog-top-text .top-con p + p {
  margin-top: 5px;
}
.navigation .navbar ul li .dog-box .dog-bottom-text {
  text-align: left;
}
.navigation .navbar ul li .dog-box .dog-bottom-text .sy,
.navigation .navbar ul li .dog-box .dog-bottom-text .xl,
.navigation .navbar ul li .dog-box .dog-bottom-text .yl {
  float: left;
  display: inline-block;
  margin-top: 10px;
  text-align: left;
  width: 70px;
  height: 150px;
  font-size: 16px;
}
.navigation .navbar ul li .dog-box .dog-bottom-text .sy a,
.navigation .navbar ul li .dog-box .dog-bottom-text .xl a,
.navigation .navbar ul li .dog-box .dog-bottom-text .yl a {
  color: #7b0;
  font-size: 16px;
}
.navigation .navbar ul li .dog-box .dog-bottom-text .sy p,
.navigation .navbar ul li .dog-box .dog-bottom-text .xl p,
.navigation .navbar ul li .dog-box .dog-bottom-text .yl p {
  margin-top: 5px;
}
.navigation .navbar ul li .dog-box .dog-bottom-text .sy p a,
.navigation .navbar ul li .dog-box .dog-bottom-text .xl p a,
.navigation .navbar ul li .dog-box .dog-bottom-text .yl p a {
  font-size: 14px;
  color: #000;
}
.navigation .navbar ul li .dog-box .dog-bottom-text .sy p a:hover,
.navigation .navbar ul li .dog-box .dog-bottom-text .xl p a:hover,
.navigation .navbar ul li .dog-box .dog-bottom-text .yl p a:hover {
  color: #7b0;
}
.navigation .navbar ul li .dog-box .dog-bottom-text .xl {
  width: 100px;
  margin-left: 30px;
}
.navigation .navbar ul li .dog-box .dog-bottom-text .yl {
  width: 100px;
  margin-left: 30px;
}
.navigation .navbar ul li .cat-box {
  width: 450px;
  height: 295px;
  border: 2px solid #7b0;
  position: absolute;
  top: 44px;
  left: 0;
  padding: 20px;
  display: none;
  z-index: 10;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.navigation .navbar ul li .cat-box::after {
  position: absolute;
  top: -5px;
  left: 47px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #7b0;
  transform: rotateZ(45deg);
  z-index: -1;
}
.navigation .navbar ul li .cat-box .cat-top-text {
  width: 410px;
  height: 80px;
  border-bottom: 1px dashed gray;
}
.navigation .navbar ul li .cat-box .cat-top-text .top-tit {
  text-align: left;
}
.navigation .navbar ul li .cat-box .cat-top-text .top-tit a {
  color: #7B0;
  font-size: 16px;
}
.navigation .navbar ul li .cat-box .cat-top-text .top-con {
  margin-top: 5px;
}
.navigation .navbar ul li .cat-box .cat-top-text .top-con p {
  text-align: left;
}
.navigation .navbar ul li .cat-box .cat-top-text .top-con p span {
  color: #666;
  font-size: 14px;
  display: inline-block;
}
.navigation .navbar ul li .cat-box .cat-top-text .top-con p a {
  color: #000;
  font-size: 14px;
}
.navigation .navbar ul li .cat-box .cat-top-text .top-con p a:hover {
  color: #7b0;
}
.navigation .navbar ul li .cat-box .cat-top-text .top-con p a + a {
  margin-left: 10px;
}
.navigation .navbar ul li .cat-box .cat-top-text .top-con p .heig {
  float: left;
  height: 40px;
  width: 46px;
}
.navigation .navbar ul li .cat-box .cat-top-text .top-con p + p {
  margin-top: 5px;
}
.navigation .navbar ul li .cat-box .cat-bottom-text {
  text-align: left;
}
.navigation .navbar ul li .cat-box .cat-bottom-text .sy,
.navigation .navbar ul li .cat-box .cat-bottom-text .xl,
.navigation .navbar ul li .cat-box .cat-bottom-text .yl {
  float: left;
  display: inline-block;
  margin-top: 10px;
  text-align: left;
  width: 70px;
  height: 150px;
  font-size: 16px;
}
.navigation .navbar ul li .cat-box .cat-bottom-text .sy a,
.navigation .navbar ul li .cat-box .cat-bottom-text .xl a,
.navigation .navbar ul li .cat-box .cat-bottom-text .yl a {
  color: #7b0;
  font-size: 16px;
}
.navigation .navbar ul li .cat-box .cat-bottom-text .sy p,
.navigation .navbar ul li .cat-box .cat-bottom-text .xl p,
.navigation .navbar ul li .cat-box .cat-bottom-text .yl p {
  margin-top: 5px;
}
.navigation .navbar ul li .cat-box .cat-bottom-text .sy p a,
.navigation .navbar ul li .cat-box .cat-bottom-text .xl p a,
.navigation .navbar ul li .cat-box .cat-bottom-text .yl p a {
  font-size: 14px;
  color: #000;
}
.navigation .navbar ul li .cat-box .cat-bottom-text .sy p a:hover,
.navigation .navbar ul li .cat-box .cat-bottom-text .xl p a:hover,
.navigation .navbar ul li .cat-box .cat-bottom-text .yl p a:hover {
  color: #7b0;
}
.navigation .navbar ul li .cat-box .cat-bottom-text .xl {
  width: 100px;
  margin-left: 30px;
}
.navigation .navbar ul li .cat-box .cat-bottom-text .yl {
  width: 100px;
  margin-left: 30px;
}
.navigation .navbar ul li .pet-box {
  width: 370px;
  height: 255px;
  border: 2px solid #7b0;
  position: absolute;
  top: 44px;
  left: 0;
  padding: 20px;
  display: none;
  z-index: 10;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.navigation .navbar ul li .pet-box::after {
  position: absolute;
  top: -5px;
  left: 47px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #7b0;
  transform: rotateZ(45deg);
  z-index: -1;
}
.navigation .navbar ul li .pet-box .pet-top-text {
  width: 330px;
  height: 80px;
  border-bottom: 1px dashed gray;
}
.navigation .navbar ul li .pet-box .pet-top-text .top-tit {
  text-align: left;
}
.navigation .navbar ul li .pet-box .pet-top-text .top-tit a {
  color: #7B0;
  font-size: 16px;
}
.navigation .navbar ul li .pet-box .pet-top-text .top-con {
  margin-top: 5px;
}
.navigation .navbar ul li .pet-box .pet-top-text .top-con p {
  text-align: left;
}
.navigation .navbar ul li .pet-box .pet-top-text .top-con p span {
  color: #666;
  font-size: 14px;
  display: inline-block;
}
.navigation .navbar ul li .pet-box .pet-top-text .top-con p a {
  color: #000;
  font-size: 14px;
}
.navigation .navbar ul li .pet-box .pet-top-text .top-con p a:hover {
  color: #7b0;
}
.navigation .navbar ul li .pet-box .pet-top-text .top-con p a + a {
  margin-left: 10px;
}
.navigation .navbar ul li .pet-box .pet-top-text .top-con p .heig {
  float: left;
  height: 40px;
  width: 46px;
}
.navigation .navbar ul li .pet-box .pet-top-text .top-con p + p {
  margin-top: 5px;
}
.navigation .navbar ul li .pet-box .pet-bottom-text {
  text-align: left;
}
.navigation .navbar ul li .pet-box .pet-bottom-text .sy,
.navigation .navbar ul li .pet-box .pet-bottom-text .xl,
.navigation .navbar ul li .pet-box .pet-bottom-text .yl {
  float: left;
  display: inline-block;
  margin-top: 10px;
  text-align: left;
  width: 70px;
  height: 150px;
  font-size: 16px;
}
.navigation .navbar ul li .pet-box .pet-bottom-text .sy a,
.navigation .navbar ul li .pet-box .pet-bottom-text .xl a,
.navigation .navbar ul li .pet-box .pet-bottom-text .yl a {
  color: #7b0;
  font-size: 16px;
}
.navigation .navbar ul li .pet-box .pet-bottom-text .sy p,
.navigation .navbar ul li .pet-box .pet-bottom-text .xl p,
.navigation .navbar ul li .pet-box .pet-bottom-text .yl p {
  margin-top: 5px;
}
.navigation .navbar ul li .pet-box .pet-bottom-text .sy p a,
.navigation .navbar ul li .pet-box .pet-bottom-text .xl p a,
.navigation .navbar ul li .pet-box .pet-bottom-text .yl p a {
  font-size: 14px;
  color: #000;
}
.navigation .navbar ul li .pet-box .pet-bottom-text .sy p a:hover,
.navigation .navbar ul li .pet-box .pet-bottom-text .xl p a:hover,
.navigation .navbar ul li .pet-box .pet-bottom-text .yl p a:hover {
  color: #7b0;
}
.navigation .navbar ul li .pet-box .pet-bottom-text .xl {
  width: 80px;
  margin-left: 20px;
}
.navigation .navbar ul li .pet-box .pet-bottom-text .yl {
  width: 100px;
  margin-left: 20px;
}
.navigation .navbar ul li .water-box {
  width: 310px;
  height: 275px;
  border: 2px solid #7b0;
  position: absolute;
  top: 44px;
  left: 0;
  padding: 20px;
  display: none;
  z-index: 10;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.navigation .navbar ul li .water-box::after {
  position: absolute;
  top: -5px;
  left: 47px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #7b0;
  transform: rotateZ(45deg);
  z-index: -1;
}
.navigation .navbar ul li .water-box .water-top-text {
  width: 270px;
  height: 80px;
  border-bottom: 1px dashed gray;
}
.navigation .navbar ul li .water-box .water-top-text .top-tit {
  text-align: left;
}
.navigation .navbar ul li .water-box .water-top-text .top-tit a {
  color: #7B0;
  font-size: 16px;
}
.navigation .navbar ul li .water-box .water-top-text .top-con {
  margin-top: 5px;
}
.navigation .navbar ul li .water-box .water-top-text .top-con p {
  text-align: left;
}
.navigation .navbar ul li .water-box .water-top-text .top-con p span {
  color: #666;
  font-size: 14px;
  display: inline-block;
}
.navigation .navbar ul li .water-box .water-top-text .top-con p a {
  color: #000;
  font-size: 14px;
}
.navigation .navbar ul li .water-box .water-top-text .top-con p a:hover {
  color: #7b0;
}
.navigation .navbar ul li .water-box .water-top-text .top-con p a + a {
  margin-left: 10px;
}
.navigation .navbar ul li .water-box .water-top-text .top-con p .heig {
  float: left;
  height: 40px;
  width: 46px;
}
.navigation .navbar ul li .water-box .water-top-text .top-con p + p {
  margin-top: 5px;
}
.navigation .navbar ul li .water-box .water-bottom-text {
  text-align: left;
}
.navigation .navbar ul li .water-box .water-bottom-text .sy,
.navigation .navbar ul li .water-box .water-bottom-text .xl,
.navigation .navbar ul li .water-box .water-bottom-text .yl {
  float: left;
  display: inline-block;
  margin-top: 10px;
  text-align: left;
  width: 70px;
  height: 150px;
  font-size: 16px;
}
.navigation .navbar ul li .water-box .water-bottom-text .sy a,
.navigation .navbar ul li .water-box .water-bottom-text .xl a,
.navigation .navbar ul li .water-box .water-bottom-text .yl a {
  color: #7b0;
  font-size: 16px;
}
.navigation .navbar ul li .water-box .water-bottom-text .sy p,
.navigation .navbar ul li .water-box .water-bottom-text .xl p,
.navigation .navbar ul li .water-box .water-bottom-text .yl p {
  margin-top: 5px;
}
.navigation .navbar ul li .water-box .water-bottom-text .sy p a,
.navigation .navbar ul li .water-box .water-bottom-text .xl p a,
.navigation .navbar ul li .water-box .water-bottom-text .yl p a {
  font-size: 14px;
  color: #000;
}
.navigation .navbar ul li .water-box .water-bottom-text .sy p a:hover,
.navigation .navbar ul li .water-box .water-bottom-text .xl p a:hover,
.navigation .navbar ul li .water-box .water-bottom-text .yl p a:hover {
  color: #7b0;
}
.navigation .navbar ul li .water-box .water-bottom-text .xl {
  width: 80px;
  margin-left: 20px;
}
.navigation .navbar ul li .water-box .water-bottom-text .yl {
  width: 100px;
  margin-left: 20px;
}
.navigation .navbar ul li .insect-box {
  width: 310px;
  height: 275px;
  border: 2px solid #7b0;
  position: absolute;
  top: 44px;
  left: 0;
  padding: 20px;
  display: none;
  z-index: 10;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.navigation .navbar ul li .insect-box::after {
  position: absolute;
  top: -5px;
  left: 47px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #7b0;
  transform: rotateZ(45deg);
  z-index: -1;
}
.navigation .navbar ul li .insect-box .insect-top-text {
  width: 270px;
  height: 80px;
  border-bottom: 1px dashed gray;
}
.navigation .navbar ul li .insect-box .insect-top-text .top-tit {
  text-align: left;
}
.navigation .navbar ul li .insect-box .insect-top-text .top-tit a {
  color: #7B0;
  font-size: 16px;
}
.navigation .navbar ul li .insect-box .insect-top-text .top-con {
  margin-top: 5px;
}
.navigation .navbar ul li .insect-box .insect-top-text .top-con p {
  text-align: left;
}
.navigation .navbar ul li .insect-box .insect-top-text .top-con p span {
  color: #666;
  font-size: 14px;
  display: inline-block;
}
.navigation .navbar ul li .insect-box .insect-top-text .top-con p a {
  color: #000;
  font-size: 14px;
}
.navigation .navbar ul li .insect-box .insect-top-text .top-con p a:hover {
  color: #7b0;
}
.navigation .navbar ul li .insect-box .insect-top-text .top-con p a + a {
  margin-left: 10px;
}
.navigation .navbar ul li .insect-box .insect-top-text .top-con p .heig {
  float: left;
  height: 40px;
  width: 46px;
}
.navigation .navbar ul li .insect-box .insect-top-text .top-con p + p {
  margin-top: 5px;
}
.navigation .navbar ul li .insect-box .insect-bottom-text {
  text-align: left;
}
.navigation .navbar ul li .insect-box .insect-bottom-text .sy,
.navigation .navbar ul li .insect-box .insect-bottom-text .xl,
.navigation .navbar ul li .insect-box .insect-bottom-text .yl {
  float: left;
  display: inline-block;
  margin-top: 10px;
  text-align: left;
  width: 70px;
  height: 150px;
  font-size: 16px;
}
.navigation .navbar ul li .insect-box .insect-bottom-text .sy a,
.navigation .navbar ul li .insect-box .insect-bottom-text .xl a,
.navigation .navbar ul li .insect-box .insect-bottom-text .yl a {
  color: #7b0;
  font-size: 16px;
}
.navigation .navbar ul li .insect-box .insect-bottom-text .sy p,
.navigation .navbar ul li .insect-box .insect-bottom-text .xl p,
.navigation .navbar ul li .insect-box .insect-bottom-text .yl p {
  margin-top: 5px;
}
.navigation .navbar ul li .insect-box .insect-bottom-text .sy p a,
.navigation .navbar ul li .insect-box .insect-bottom-text .xl p a,
.navigation .navbar ul li .insect-box .insect-bottom-text .yl p a {
  font-size: 14px;
  color: #000;
}
.navigation .navbar ul li .insect-box .insect-bottom-text .sy p a:hover,
.navigation .navbar ul li .insect-box .insect-bottom-text .xl p a:hover,
.navigation .navbar ul li .insect-box .insect-bottom-text .yl p a:hover {
  color: #7b0;
}
.navigation .navbar ul li .insect-box .insect-bottom-text .xl {
  width: 80px;
  margin-left: 20px;
}
.navigation .navbar ul li .insect-box .insect-bottom-text .yl {
  width: 100px;
  margin-left: 20px;
}
.navigation .navbar ul li .botany-box {
  width: 452px;
  height: 275px;
  border: 2px solid #7b0;
  position: absolute;
  top: 44px;
  left: 0;
  padding: 20px;
  display: none;
  z-index: 10;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.navigation .navbar ul li .botany-box::after {
  position: absolute;
  top: -5px;
  left: 47px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #7b0;
  transform: rotateZ(45deg);
  z-index: -1;
}
.navigation .navbar ul li .botany-box .botany-top-text {
  width: 410px;
  height: 80px;
  border-bottom: 1px dashed gray;
}
.navigation .navbar ul li .botany-box .botany-top-text .top-tit {
  text-align: left;
}
.navigation .navbar ul li .botany-box .botany-top-text .top-tit a {
  color: #7B0;
  font-size: 16px;
}
.navigation .navbar ul li .botany-box .botany-top-text .top-con {
  margin-top: 5px;
}
.navigation .navbar ul li .botany-box .botany-top-text .top-con p {
  text-align: left;
}
.navigation .navbar ul li .botany-box .botany-top-text .top-con p span {
  color: #666;
  font-size: 14px;
  display: inline-block;
}
.navigation .navbar ul li .botany-box .botany-top-text .top-con p a {
  color: #000;
  font-size: 14px;
}
.navigation .navbar ul li .botany-box .botany-top-text .top-con p a:hover {
  color: #7b0;
}
.navigation .navbar ul li .botany-box .botany-top-text .top-con p a + a {
  margin-left: 10px;
}
.navigation .navbar ul li .botany-box .botany-top-text .top-con p .heig {
  float: left;
  height: 40px;
  width: 46px;
}
.navigation .navbar ul li .botany-box .botany-top-text .top-con p + p {
  margin-top: 5px;
}
.navigation .navbar ul li .botany-box .botany-bottom-text {
  text-align: left;
}
.navigation .navbar ul li .botany-box .botany-bottom-text .zp,
.navigation .navbar ul li .botany-box .botany-bottom-text .jb,
.navigation .navbar ul li .botany-box .botany-bottom-text .fz {
  float: left;
  display: inline-block;
  margin-top: 10px;
  text-align: left;
  width: 100px;
  height: 150px;
  font-size: 16px;
}
.navigation .navbar ul li .botany-box .botany-bottom-text .zp a,
.navigation .navbar ul li .botany-box .botany-bottom-text .jb a,
.navigation .navbar ul li .botany-box .botany-bottom-text .fz a {
  color: #7b0;
  font-size: 16px;
}
.navigation .navbar ul li .botany-box .botany-bottom-text .zp p,
.navigation .navbar ul li .botany-box .botany-bottom-text .jb p,
.navigation .navbar ul li .botany-box .botany-bottom-text .fz p {
  margin-top: 5px;
}
.navigation .navbar ul li .botany-box .botany-bottom-text .zp p a,
.navigation .navbar ul li .botany-box .botany-bottom-text .jb p a,
.navigation .navbar ul li .botany-box .botany-bottom-text .fz p a {
  font-size: 14px;
  color: #000;
}
.navigation .navbar ul li .botany-box .botany-bottom-text .zp p a:hover,
.navigation .navbar ul li .botany-box .botany-bottom-text .jb p a:hover,
.navigation .navbar ul li .botany-box .botany-bottom-text .fz p a:hover {
  color: #7b0;
}
.navigation .navbar ul li .botany-box .botany-bottom-text .jb {
  margin-left: 30px;
}
.navigation .navbar ul li .botany-box .botany-bottom-text .fz {
  margin-left: 30px;
}
.navigation .navbar ul li.active a {
  height: 44px;
  background-color: #77BB00;
  color: #fff;
  font-size: 18px;
}
.navigation .navbar ul li.active a:hover {
  background-color: #77BB00;
  color: #fff;
}
.navigation .navbar ul li.show-dog:hover .dog-box {
  display: block;
}
.navigation .navbar ul li.show-cat:hover .cat-box {
  display: block;
}
.navigation .navbar ul li.show-pet:hover .pet-box {
  display: block;
}
.navigation .navbar ul li.show-water:hover .water-box {
  display: block;
}
.navigation .navbar ul li.show-insect:hover .insect-box {
  display: block;
}
.navigation .navbar ul li.show-botany:hover .botany-box {
  display: block;
}
