@charset "utf-8";
main {
  position: relative;
}
.right-side {
  position: fixed;
  right: 10px;
  bottom: 0;
  width: 60px;
  height: 183px;
}
.right-side a {
  display: block;
  height: 60px;
  margin-top: 1px;
  background: url(../img/btn2.png) no-repeat 0 -47px;
}
.right-side a:hover {
  background: url(../img/btn2.png) no-repeat -73px -47px;
}
.right-side a:nth-child(2) {
  background-position: 0 -108px;
}
.right-side a:nth-child(2):hover {
  background: url(../img/btn2.png) no-repeat -73px -108px;
}
.right-side a:nth-child(3) {
  background-position: 0 -169px;
}
.right-side a:nth-child(3):hover {
  background: url(../img/btn2.png) no-repeat -73px -169px;
}
