*{
    margin: 0;
    padding: 0;
}
.swiper{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 100px auto;
    text-align: center;
    overflow: hidden;
}

input{
    display: none;
}

label{
    position: absolute;
    top: 450px;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius:50%;
    background-color: #fff;
    transition: all .3s;
}

label[for = 'btn1']{
    left: 45%;
}
label[for = 'btn2']{
    left: 50%;
}
label[for = 'btn3']{
    left: 55%;
}

ul{
    width: 2400px;
    height: 500px;
    transition:all .5s;
}

li{
    float: left;
    list-style: none;
    width: 800px;
    height: 500px;
    line-height:500px;
    font-size: 50px;
}
li:nth-child(1){
    background-image: linear-gradient(to right,#78f,#7f8);
}
li:nth-child(2){
    background-image: linear-gradient(to right,#7f8,#f78);
}
li:nth-child(3){
    background-image: linear-gradient(to right,#f78,#78f);
}
#btn1:checked~ul{
    margin-left: 0;
}
#btn2:checked~ul{
    margin-left: -800px;
}
#btn3:checked~ul{
    margin-left: -1600px;
}

#btn1:checked~label[for = 'btn1']{
    background-color: #ff5000;
}
#btn2:checked~label[for = 'btn2']{
    background-color: #ff5000;
}
#btn3:checked~label[for = 'btn3']{
    background-color: #ff5000;
}